<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<script type="text/javascript" src="js/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
	<ul class="nav nav-tabs">
		<li class="active"><a  href="#tab1" data-toggle="tab">tab1</a></li>
		<li><a href="#tab2" data-toggle="tab">tab2</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active in fade" id="tab1">
			<div>lv</div>
		</div>
		<div class="tab-pane fade" id="tab2">
			<div class="tableContainerR">
		<table class="table table-bordered thisTableSet">
			<thead>
			<tr class="tableHead">
				<th><input type="checkbox"></th>
				<th>车牌号</th>
				<th>企业</th>
				<th>车队</th>
				<th>线路列表</th>
				<th>状态</th>
				<th>操作类型</th>
				<th>操作人</th>
				<th>操作时间</th>
				<th>有效期限</th>
				<th>有效时间</th>
				<th>告警类型</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			<tr v-for="item in getOrgLineTotalResult">
				<th scope="row"><input type="checkbox" v-model="item.checkLineViewFlag" @click="checkToShowLineView($index,item.checkLineViewFlag)"></th>
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>4</td>
				<td>---</td>
				<td>---</td>
				<td>---</td>
				<td>---</td>
				<td>---</td>
				<td>---</td>
				<td>---------------------------------------------</td>
				<td class="buttonContainer">
					<a class="similarButton" @click="showBindDialog(item.id,item.orgcode)">修改</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
		</div>
	</div>
</body>
</html>